body {
    background-color: #5A5766;
    padding: 0;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.main{
    background-image: url(https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/BKWZJHXR57.jpg);
    padding: 90px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(255,255,255, 0.6);
    background-blend-mode: overlay;

}


.container{
    box-sizing: border-box;
    max-width: 1100px;
    color: black;
    margin: 0 auto;
    padding: 20px
}

.title {
    font-family: 'Clicker Script', cursive;
    font-size: 6em;
    text-align: center;
}

.subtitle{
    color: black;
    text-transform: uppercase;
    letter-spacing: 1.5pt;
    text-align: center;
    font-size: 4em;

}
