body {
    background-color: #fafafa;
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.header{
    background-image: url(https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/BKWZJHXR57.jpg);
    padding: 100px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(255,255,255, 0.6);
    background-blend-mode: overlay;
}


.container{
    box-sizing: border-box;
    max-width: 1100px;
    color: black;
    margin: 0 auto;
    padding: 20px
}

.title {
    font-family: 'Clicker Script', cursive;
    font-size: 6em;
    text-align: center;
    margin-bottom: 0;
}

.subtitle{
    color: black;
    text-transform: uppercase;
    letter-spacing: 1.5pt;
    text-align: center;
    font-size: 3em;

}

.container.post {
    background: white;
    margin-top: -60px;
    box-shadow: 0px 0px 28px 3px rgba(0,0,0,0.26);
}

.post-content{
    font-size: 1.4em;
    padding: 0 10px;

}

.signature {
    text-align: right;
    font-family: 'Clicker Script', cursive;
    font-size: 1.5em;
}

.signature p {
    color: lightpink;
}

@media screen and (max-width:768px){
    .container.post{
        margin-top: 30px;
    }
}
